.card {
    background: white;
    border-radius: 8px;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width:  100%;
    width: 350px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
  width: 100%;
  height: 250px;
  }
  .icon img {
    width: 100%;
    height: 250px;
    }
  h3 {
    color: var(--archimed-orange);
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    font-family: var(--font-inter);

  }
  .card p 
  {
    color: var(--archimed-dark-charcoal);
    line-height: 1.5;
    font-family: var(--font-inter);
    font-size: .95rem;

  }
  .details {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    font-size: 1.01rem;
    color: #666;
    padding: .75rem;
  }
  
  .card  .learnMoreBtn {
    background: var(--archimed-orange);
    color: white;
    border: none;
    padding: 0.95rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
    font-size: 16px;
    text-decoration: none;
    font-family: var(--font-roboto);

  }
  
  .learnMoreBtn:hover {
    background: #e05a2a;
  }